<div class="padded-segment" style="border-top: none !important;">
  <div class="craftmanship">
    <div class="flexed lhs">
      <div class="top">
        <h2 class="title">THE FINEST CRAFTMANSHIP</h2>
        <div class="description">Experience the Finest Features in Our Luxury Timepieces</div>
      </div>

      <div class="middle">
        <img
          src="https://res.cloudinary.com/adenike/image/upload/v1702176277/relume-blurryface/Watch_interior_5_r13vyg.png"
          alt="watch internals">
      </div>

      <div class="bottom">
        <div class="title">01 - High-quality materials</div>
        <div class="description">
          Luxury watches are made from materials like gold, platinum, stainless steel, or high-grade leather for
          durability and
          visual appeal."
        </div>
      </div>
    </div>
    <div class="flexed rhs">
      <img src="https://res.cloudinary.com/adenike/image/upload/v1702176281/relume-blurryface/Hand_model_7_n00pga.svg"
        alt="watch on a wrist">
    </div>
  </div>
</div>