<div class="container">
  <div class="segment page-header">
    <div class="menu">
      <div class="logo">
        <img
          src="https://res.cloudinary.com/adenike/image/upload/v1704565105/relume-blurryface/Hublot_brandlogos_l2c6va.svg"
          alt="hublot brand logo">
      </div>
      <div class="name"></div>
      <div class="hamburger"></div>
    </div>
    <div class="padded padded-segment">
      <div class="first-page">
        <div class="flexed lhs">
          <h2 class="header-text">
            <p>Elegance and Precision:</p>
            <p class="pale">The finest luxury <br />watches.</p>
          </h2>

          <div class="header-bottom-text">
            <p class="">
              Experience the timeless beauty and unparalleled craftsmanship of our luxurious timepieces. Each piece is
              meticulously
              designed and crafted using only the finest materials, ensuring durability and longevity.
            </p>
            <button class="shop-now">
              <div class="div-2">Shop now</div>
              <img loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/378db5f40855f7a50351a6bc2786220e2188dc8177ea4cf6003984e37628ff03?"
                class="img" />
            </button>
          </div>
        </div>
        <div class="flexed rhs">
          <img loading="lazy" src="http://tinyurl.com/tvnx2k8a" alt="dashboard-watch">
        </div>
      </div>
    </div>
  </div>
</div>