<div class="container">
  <div class="segment page-header">
    <div class="menu">
      <div class="logo">
        <img
          src="https://res.cloudinary.com/adenike/image/upload/v1704565105/relume-blurryface/Hublot_brandlogos_l2c6va.svg"
          alt="hublot brand logo">
      </div>
      <div class="name"></div>
      <div class="hamburger"></div>
    </div>
    <div class="padded">
      <div class="first-page">
        <div class="flexed lhs">
          <h2 class="header-text">
            Elegance and Precision: The finest luxury watches.
          </h2>

          <p class="header-bottom-text">
            Experience the timeless beauty and unparalleled craftsmanship of our luxurious timepieces. Each piece is
            meticulously
            designed and crafted using only the finest materials, ensuring durability and longevity.
          </p>
        </div>
        <div class="flexed rhs">
          <img loading="lazy" src="http://tinyurl.com/tvnx2k8a" alt="dashboard-watch">
        </div>
      </div>
    </div>
  </div>
</div>