.page-header {
  background: url("../../../assets/svgs/Mystery\ Item\ B\ \(1\).svg"), fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  // padding: 0 70px;
  .menu {
    // height: 80px;
    border-bottom: 1px solid #696767;
    display: flex;
    justify-content: space-between;

    .logo {
      // border-right: 1px solid #fff;
      box-shadow: 1px 0px 0px #545454;

      img {
        padding: 25px;
      }
    }
  }

  .padded {
    // padding: 25px;

    // height: 100%;
    height: calc(100vh - 87px);
    // background: #FFF;

    // mix-blend-mode: overlay;
  }
}

.first-page {
  height: 100%;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  .flexed.rhs {
    flex: 45%;
    text-align: center;
  }

  .flexed.lhs {
    flex: 45%;
    padding-top: 50px;
  }
  h2.header-text {
    color: #e4e4e7;
    font-family: PP Fragment;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 67.5px */
    margin-bottom: 80px;
    max-width: 568px;
    // text-align: left;

    p.pale {
      opacity: 0.5;
    }
  }

  .header-bottom-text {
    max-width: 316px;
    font-family: PP Fragment;
    p {
      color: var(--White, #fff);
      text-align: justify;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 150%; /* 27px */
      padding-bottom: 20px;
    }
  }

  .shop-now {
    background: transparent;
    align-items: center;
    border: 1px solid var(--Gray-iron-200, #e4e4e7);
    display: flex;
    gap: 8px;
    padding: 12px;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
  }
  .div-2 {
    justify-content: center;
    color: var(--Gray-iron-200, #e4e4e7);
    white-space: nowrap;
    margin: auto 0;
    font: 400 18px/150% PP Fragment, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .img {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
  }
}
