<div class="padded-segment">
  <div class="categories">
    <div class="top">
      <div class="flexed lhs">
        <h3 class="title">Shop Our Selection of Luxury Watches by Category</h3>
        <div class="description">
          <h4 class="">From classic and traditional designs to modern and contemporary styles, we have something for
            every taste
            and preference</h4>
        </div>
      </div>
      <div class="flexed rhs">
      </div>
    </div>

    <div class="bottom">
      <div class="flexed lhs">
        <img
          src="https://res.cloudinary.com/adenike/image/upload/v1704676282/relume-blurryface/Hublot-topseller-2_m9b4dr.svg"
          alt="">
      </div>
      <div class="flexed rhs">
        <ul class="category-list">
          <li class="selection">
            <div class="text-header">Haute horlogerie</div>
            <p class="text-wrapper-14">
              The highest standard in watchmaking.
            </p>
            <!-- <img class="rectangle-2" src="https://c.animaapp.com/i4IKb5T5/img/rectangle-4.png" /> -->
          </li>
          <li class="selection selection-2">
            <div class="text-header">Tourbillon watches</div>
            <p class="text-bottom">
              The highest standard in watchmaking.
            </p>
          </li>
          <div class="selection selection-3">
            <div class="text-header">Skeleton watches</div>
            <p class="text-bottom">
              The highest standard in watchmaking.
            </p>
          </div>
          <div class="selection selection-4">
            <div class="text-header">Diamond watches</div>
            <p class="text-bottom">
              The highest standard in watchmaking.
            </p>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>