<app-header></app-header>
<top-sellers></top-sellers>

<app-craftmanship></app-craftmanship>


<div class="padded-segment">
  <div class="slider">
    <ng-container>
      <div class="testimonial-slide">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, vero?</p>
      </div>
      <div class="testimonial-slide">
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
      <div class="testimonial-slide">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus quo consectetur sit enim debitis asperiores
          dolor dolores autem laborum, consequatur necessitatibus laboriosam aliquam id quaerat.</p>
      </div>
      <!-- <div class="testimonial-slide"></div> -->

      <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
      <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
    </ng-container>
  </div>
</div>