<app-header></app-header>
<top-sellers></top-sellers>

<app-craftmanship></app-craftmanship>

<div class="padded-segment">
  <div class="categories">
    <div class="top">
      <h3 class="title">Shop Our Selection of Luxury Watches by Category</h3>
      <div class="description">
        <div class="flexed lhs">
          <h4>From classic and traditional designs to modern and contemporary styles, we have something for every taste
            and preference</h4>
        </div>
        <div class="flexed rhs">
        </div>
      </div>
    </div>

    <div class="bottom">
      <div class="flexed lhs">
        <img
          src="https://res.cloudinary.com/adenike/image/upload/v1704676282/relume-blurryface/Hublot-topseller-2_m9b4dr.svg"
          alt="">
      </div>
      <div class="flexed rhs"></div>
    </div>
  </div>
</div>