.categories {
  .top {
    h3 {
      color: #fff;
      font-family: PP Fragment;
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 57.6px */
    }
  }

  .bottom {
    .lhs {
      background: url("https://res.cloudinary.com/adenike/image/upload/v1702176228/relume-blurryface/Mystery_Item_A_iicwhw.svg");
    }
  }
}
