<app-header></app-header>
<top-sellers></top-sellers>

<app-craftmanship></app-craftmanship>


<div class="padded-segment">
  <div class="slider">
    <ng-container>
      <img class="mySlides" src="img_snowtops.jpg">
      <img class="mySlides" src="img_lights.jpg">
      <img class="mySlides" src="img_mountains.jpg">
      <img class="mySlides" src="img_forest.jpg">

      <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
      <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
    </ng-container>
  </div>
</div>