/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.cdnfonts.com/css/pp-fragment");

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background: #000;
  font-family: "PP Fragment", sans-serif;
}

.padded-segment {
  margin: 0 90px;
  border: 1px solid #545454;
  border-bottom: none;
}
