<div class="padded-segment">
  <div class="top-seller">
    <h2 class="title">TOP SELLER</h2>
    <div class="description">
      <div class="flexed lhs">
        <h3>The Most Coveted Luxury Watches</h3>
      </div>
      <div class="flexed rhs">
        <h4>Indulge in the finest timepieces from the most coveted luxury watch brands in the world. From the classic
          elegance of a
          Rolex to the cutting-edge technology of a Breitling, these watches are more than just accessories.</h4>
      </div>
    </div>

    <div class="scroll-watches">
      <div class="watch watch-1">
        <div class="watch-img">
          <img src="https://res.cloudinary.com/adenike/image/upload/v1702176307/relume-blurryface/default_z4kenq.svg"
            alt="">
        </div>
        <div class="watch-text">
          <p class="text">Royal Oak Offshore Chronograph</p>
          <small>HUBLOT</small>
          <p class="price">$12,000</p>
        </div>
      </div>

      <div class="watch watch-2">
        <div class="watch-img">
          <img src="https://res.cloudinary.com/adenike/image/upload/v1702176307/relume-blurryface/default_z4kenq.svg"
            alt="">
        </div>
        <div class="watch-text">
          <p class="text">Royal Oak Offshore Chronograph</p>
          <small>HUBLOT</small>
          <p class="price">$12,000</p>
        </div>
      </div>
      <div class="watch watch-2">
        <div class="watch-img">
          <img src="https://res.cloudinary.com/adenike/image/upload/v1702176307/relume-blurryface/default_z4kenq.svg"
            alt="">
        </div>
        <div class="watch-text">
          <p class="text">Royal Oak Offshore Chronograph</p>
          <small>HUBLOT</small>
          <p class="price">$12,000</p>
        </div>
      </div>
      <div class="watch watch-2">
        <div class="watch-img">
          <img src="https://res.cloudinary.com/adenike/image/upload/v1702176307/relume-blurryface/default_z4kenq.svg"
            alt="">
        </div>
        <div class="watch-text">
          <p class="text">Royal Oak Offshore Chronograph</p>
          <small>HUBLOT</small>
          <p class="price">$12,000</p>
        </div>
      </div>
    </div>
  </div>
</div>